doctype html
html(ng-app="offlined")
  head
    title Gulp experiments
    link(rel="stylesheet", href="css/main.css")
  body

    div.container
      header
      div(ui-view)
      footer

    script(src="js/bundle.js")
