doctype html
html(ng-app="offlined")
  head
    title Gulp experiments
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css")
    link(rel="stylesheet", href="css/main.css")
  body

    div.container.padmin
      header
      div(ui-view)
      footer

    script(src="js/bundle.js")
