doctype html
html
  head
    title Gulp experiments
    link(rel="stylesheet", href="css/main.css")
  body
    h1 We used Jade/SASS to generate this
    p It seems like it works ;)
    p liveReload works fine! Hurray!

    script(src="js/bundle.js")
